

.loginBox2 {
    // height: 300px !important;

}

.loginError{
    color: red;
    text-align: center;
    margin: 7px 0px;
}

.loginForgot {

    margin: 8px 0px;
    text-align: right;
    color: $navbar;

}