@import "../../constants";


.changePasswordInput {
    @include setspace(15px 0px!important, 8px 15px !important, 17px, 500);
    background-color: $lightgray;
}

.changePasswordField {

    font-size: 16px !important;
    background-color: $lightgray;

}
.changeButtonStyle{
    @include outlineborder();
    @include setspace(0px 6px, 10px 15px, 16px, 500);
    border-radius: 6px;
    color:$white;
    @include flexwithcenter(column, center){
        align-items: center
    };
    transition: .2s ease-in-out;
    cursor: pointer;
    background-color: darken($color: $red, $amount: 5);
}
.changePasswordIcon {
    cursor: pointer;
}

#form-dialog-title {
    .MuiTypography-h6 {
        font-weight: 600 !important;
        font-family: Poppins !important;
    }
}

.MuiDialog-paperWidthSm {
    width: 100%;

    @media screen and (min-width:900px) {
        width: 30%;
    }

    @media (max-width:900px) and (min-width:600px) {
        width: 70%;
    }
}
